@use 'base/variables' as v;
@use 'base/mixins' as m;

.pasos{
  margin-top: v.$separacion;

  &__wave{
    margin-bottom: -1px;
  }

  &__contenido{
    background-color: v.$primario;
  }

  &__heading{
    text-align: center;
    color: v.$blanco;

    &--descripcion{
      display: block;
      font-size: 1.8rem
    }
  }

  &__grid{
    @include m.tablet {
      @include m.grid(3, v.$separacion);
    }
  }

  &__imagen{
    transition-property: transform;
    transition-duration: .3s;
    &:hover{
      transform: rotate(-4deg) scale(1.3);
    }
  }
  
}