@use 'base/mixins' as m;
@use 'base/variables' as v;

.footer{
  background-color: v.$secundario;
  padding-top: v.$separacion;

  &__grid{
    @include m.grid(3, 1rem)
  }

  &__box{
    margin-bottom: v.$separacion;

    &:last-of-type{
      margin-bottom: 0;
    }
  }

  &__heading{
    color: v.$blanco;
    margin: 0;
    text-align: center;
    @include m.tablet {
      text-align: left;
    }
  }

  &__nav{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }

  &__nav,
  &__taxto{
    margin-top: 2rem;
  }

  &__link,
  &__texto{
    font-size: 2rem;
    line-height: 1.8;
    color: v.$blanco;
    text-align: center;
    @include m.tablet {
      text-align: left;
    }
  }

  &__copyright{
    background-color: v.$primario;
    text-align: center;
    margin: 0;
    padding: 2rem;
    color: v.$blanco;
    
  }
}