@use 'base/mixins' as m;
@use 'base/variables' as v;

.testimoneales{
  padding: v.$separacion 0;

  &__heading{
    text-align: center;
    text-transform: uppercase;
  }

  &__grid{
    @include m.tablet {
     @include m.grid(5, 2rem) 
    }
  }
}

